USE [master]
GO
/****** Object:  Database [ServiceCenterPH]    Script Date: 18/8/2025 08:47:27 p. m. ******/
CREATE DATABASE [ServiceCenterPH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ServiceCenterPH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DBService\MSSQL\DATA\ServiceCenterPH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ServiceCenterPH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DBService\MSSQL\DATA\ServiceCenterPH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ServiceCenterPH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ServiceCenterPH]
GO
/****** Object:  User [RemoteUser]    Script Date: 18/8/2025 08:47:28 p. m. ******/
CREATE USER [RemoteUser] FOR LOGIN [RemoteUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS APPPOOL\api.servicecenterph.com]    Script Date: 18/8/2025 08:47:28 p. m. ******/
CREATE USER [IIS APPPOOL\api.servicecenterph.com] FOR LOGIN [IIS APPPOOL\api.servicecenterph.com] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [RemoteUser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [RemoteUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [RemoteUser]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\api.servicecenterph.com]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adjuntoes]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adjuntoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[NombreArchivo] [nvarchar](max) NULL,
	[RutaArchivo] [nvarchar](max) NULL,
	[FechaSubida] [datetime] NOT NULL,
	[SubidoPorId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Adjuntoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApiUsers]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[EsActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[PhotoPath] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Biblioteca_Items_New]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biblioteca_Items_New](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](max) NOT NULL,
	[Contenido] [nvarchar](max) NOT NULL,
	[Categoria] [nvarchar](max) NOT NULL,
	[ImagenRuta] [nvarchar](max) NULL,
	[Usuario] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Biblioteca_Items_New] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaFAQs]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaFAQs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.CategoriaFAQs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Categorias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comentarios]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[UsuarioId] [nvarchar](128) NULL,
	[ComentarioTexto] [nvarchar](max) NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Comentarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultaRecienteFAQs]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultaRecienteFAQs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PreguntaFAQId] [int] NOT NULL,
	[UsuarioId] [nvarchar](128) NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ConsultaRecienteFAQs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentoes]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Departamentoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailDestinatarios]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailDestinatarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Correo] [nvarchar](256) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.EmailDestinatarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailServerConfigs]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailServerConfigs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Host] [nvarchar](256) NOT NULL,
	[Puerto] [int] NOT NULL,
	[HabilitarSSL] [bit] NOT NULL,
	[Usuario] [nvarchar](256) NOT NULL,
	[Contrasena] [nvarchar](512) NOT NULL,
	[FromName] [nvarchar](100) NULL,
	[FromEmail] [nvarchar](256) NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[Provider] [nvarchar](max) NULL,
	[ApiKey] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.EmailServerConfigs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evidencias]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evidencias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[UrlArchivo] [nvarchar](max) NULL,
	[FechaSubida] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Evidencias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuiaInteraccions]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuiaInteraccions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuiaId] [int] NULL,
	[UserId] [nvarchar](128) NULL,
	[EsUtil] [bit] NOT NULL,
	[FechaInteraccion] [datetime] NOT NULL,
	[ArticuloId] [int] NULL,
	[Tipo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.GuiaInteraccions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guias]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Contenido] [nvarchar](max) NOT NULL,
	[Keywords] [nvarchar](500) NULL,
	[CategoriaId] [int] NOT NULL,
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Guias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialAsignacions]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialAsignacions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[AsignadoPorId] [nvarchar](128) NULL,
	[AsignadoAId] [nvarchar](128) NULL,
	[FechaAsignacion] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.HistorialAsignacions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InteraccionFAQs]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InteraccionFAQs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PreguntaId] [int] NOT NULL,
	[EsUtil] [bit] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.InteraccionFAQs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManageIPChatBots]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManageIPChatBots](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ip] [nvarchar](100) NOT NULL,
	[Puerto] [int] NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[FechaCreacion] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ManageIPChatBots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreguntaFAQs]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreguntaFAQs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Respuesta] [nvarchar](max) NOT NULL,
	[CategoriaFAQId] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[VecesConsultada] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PreguntaFAQs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReporteErrorGuias]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReporteErrorGuias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuiaId] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[FechaReporte] [datetime] NOT NULL,
	[UsuarioNombre] [nvarchar](256) NOT NULL,
	[UsuarioEmail] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.ReporteErrorGuias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SugerenciaPreguntasFAQs]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SugerenciaPreguntasFAQs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pregunta] [nvarchar](500) NOT NULL,
	[Respuesta] [nvarchar](1000) NULL,
	[UsuarioId] [nvarchar](max) NULL,
	[FechaSugerencia] [datetime] NOT NULL,
	[Estado] [int] NOT NULL,
	[UsuarioRevisorId] [nvarchar](max) NULL,
	[FechaRevision] [datetime] NULL,
	[Motivo] [nvarchar](500) NULL,
	[CategoriaFAQId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SugerenciaPreguntasFAQs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 18/8/2025 08:47:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Prioridad] [nvarchar](20) NOT NULL,
	[Categoria] [nvarchar](30) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioCreadorId] [nvarchar](128) NULL,
	[TecnicoAsignadoId] [nvarchar](128) NULL,
	[DepartamentoId] [int] NOT NULL,
	[Solucion] [nvarchar](max) NULL,
	[NumTicket] [nvarchar](max) NULL,
	[Calificado] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Tickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Adjuntoes] ON 

INSERT [dbo].[Adjuntoes] ([Id], [TicketId], [NombreArchivo], [RutaArchivo], [FechaSubida], [SubidoPorId]) VALUES (6, 38, N'Adjunto_Ticket_INCPH_78950973_05072025', N'/Content/Adjuntos/Tickets/38/Adjunto_Ticket_INCPH_78950973_05072025', CAST(N'2025-07-05T23:49:05.263' AS DateTime), N'ee075300-4f23-47d6-85bd-b33db42e7e92')
INSERT [dbo].[Adjuntoes] ([Id], [TicketId], [NombreArchivo], [RutaArchivo], [FechaSubida], [SubidoPorId]) VALUES (7, 40, N'Adjunto_Ticket_INCPH_81165240_06072025', N'/Content/Adjuntos/Tickets/40/Adjunto_Ticket_INCPH_81165240_06072025', CAST(N'2025-07-06T17:23:40.647' AS DateTime), N'6e443d02-015c-4f26-b64f-9808afdacb99')
INSERT [dbo].[Adjuntoes] ([Id], [TicketId], [NombreArchivo], [RutaArchivo], [FechaSubida], [SubidoPorId]) VALUES (8, 60, N'Adjunto_Ticket_INCPH_49877122_26072025', N'/Content/Adjuntos/Tickets/60/Adjunto_Ticket_INCPH_49877122_26072025', CAST(N'2025-07-26T18:19:01.403' AS DateTime), N'69ee959b-0f7f-4af6-be04-03f671f8d4b7')
SET IDENTITY_INSERT [dbo].[Adjuntoes] OFF
GO
SET IDENTITY_INSERT [dbo].[ApiUsers] ON 

INSERT [dbo].[ApiUsers] ([Id], [Username], [PasswordHash], [EsActivo]) VALUES (2, N'admin', N'8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92', 1)
INSERT [dbo].[ApiUsers] ([Id], [Username], [PasswordHash], [EsActivo]) VALUES (3, N'bot.api', N'B38F555617AB4FDF9C36BA499BFBAA0C1F59C91F1DA5531B96FA938CB598D59A', 1)
SET IDENTITY_INSERT [dbo].[ApiUsers] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Tecnico')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'Usuario')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6e443d02-015c-4f26-b64f-9808afdacb99', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'ee075300-4f23-47d6-85bd-b33db42e7e92', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'43248e35-7a6a-46f3-9647-465b81c99c5a', N'2')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Nombre], [PhotoPath], [FechaCreacion]) VALUES (N'43248e35-7a6a-46f3-9647-465b81c99c5a', N'jvega10506@ufide.ac.cr', 0, N'AN4hfOQ/7js6AbNBP4UP4PE5n79wBMnOutS4b2Py1MW0gabLh1M0hcWCsWWpKxqrYQ==', N'ec1ffcb0-6478-478e-8c0c-88891069a2e7', NULL, 0, 0, NULL, 0, 0, N'jvega10506', N'VEGA MARCHENA JUAN ARMANDO', NULL, CAST(N'2025-07-29T23:12:02.923' AS DateTime))
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Nombre], [PhotoPath], [FechaCreacion]) VALUES (N'6e443d02-015c-4f26-b64f-9808afdacb99', N'rroldan00033@ufide.ac.cr', 0, N'APzgtNCd80n3U4POx2NQdwCnDJwwuO7YnX7P3f6sITruZqb9Y22UsKiKS7GWluqPbg==', N'52262284-627f-4e36-90f9-9a453040c24f', NULL, 0, 0, NULL, 0, 0, N'RROLDANQ', N'ROLDAN QUIROS ROY ARIEL', NULL, CAST(N'2025-07-06T22:37:23.503' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Biblioteca_Items_New] ON 

INSERT [dbo].[Biblioteca_Items_New] ([Id], [Titulo], [Contenido], [Categoria], [ImagenRuta], [Usuario], [FechaCreacion]) VALUES (5, N'Proceso de Conciliación Bancaria', N'La conciliación bancaria es el proceso de comparar los registros contables de la empresa con los extractos bancarios para asegurar que todas las transacciones coinciden y no hay errores ni omisiones.', N'Finazas', N'/Content/Articulos/5c1a0d82-a723-4cbc-9e80-7e0ca75de5d6.jpg', N'RROLDANQ', CAST(N'2025-07-23T22:40:02.643' AS DateTime))
INSERT [dbo].[Biblioteca_Items_New] ([Id], [Titulo], [Contenido], [Categoria], [ImagenRuta], [Usuario], [FechaCreacion]) VALUES (6, N'Limpieza Eficiente de Oficinas', N'Para limpiar eficientemente una oficina, recoja la basura, limpie escritorios con un paño húmedo y desinfectante, barra y trapee los pisos, y ventile el área al final del proceso.', N'Aseo', N'/Content/Articulos/ea9f0895-325b-4d48-9e88-effae4edddae.png', N'RROLDANQ', CAST(N'2025-07-23T22:41:07.887' AS DateTime))
SET IDENTITY_INSERT [dbo].[Biblioteca_Items_New] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoriaFAQs] ON 

INSERT [dbo].[CategoriaFAQs] ([Id], [Nombre]) VALUES (1, N'Políticas de la empresa')
INSERT [dbo].[CategoriaFAQs] ([Id], [Nombre]) VALUES (2, N'Horarios')
INSERT [dbo].[CategoriaFAQs] ([Id], [Nombre]) VALUES (3, N'Pedidos y Productos')
SET IDENTITY_INSERT [dbo].[CategoriaFAQs] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (1, N'Procesos Generales')
INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (2, N'Configuración de Software')
INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (3, N'Seguridad y Redes')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Comentarios] ON 

INSERT [dbo].[Comentarios] ([Id], [TicketId], [UsuarioId], [ComentarioTexto], [Fecha]) VALUES (3, 37, N'ee075300-4f23-47d6-85bd-b33db42e7e92', N'kuk', CAST(N'2025-07-05T10:15:29.387' AS DateTime))
INSERT [dbo].[Comentarios] ([Id], [TicketId], [UsuarioId], [ComentarioTexto], [Fecha]) VALUES (6, 38, N'ee075300-4f23-47d6-85bd-b33db42e7e92', N'j', CAST(N'2025-07-05T23:49:46.663' AS DateTime))
INSERT [dbo].[Comentarios] ([Id], [TicketId], [UsuarioId], [ComentarioTexto], [Fecha]) VALUES (7, 38, N'ee075300-4f23-47d6-85bd-b33db42e7e92', N'k', CAST(N'2025-07-05T23:58:08.083' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comentarios] OFF
GO
SET IDENTITY_INSERT [dbo].[ConsultaRecienteFAQs] ON 

INSERT [dbo].[ConsultaRecienteFAQs] ([Id], [PreguntaFAQId], [UsuarioId], [Fecha]) VALUES (30, 4, N'69ee959b-0f7f-4af6-be04-03f671f8d4b7', CAST(N'2025-07-26T19:12:35.693' AS DateTime))
INSERT [dbo].[ConsultaRecienteFAQs] ([Id], [PreguntaFAQId], [UsuarioId], [Fecha]) VALUES (37, 6, N'ee075300-4f23-47d6-85bd-b33db42e7e92', CAST(N'2025-07-30T01:16:39.140' AS DateTime))
INSERT [dbo].[ConsultaRecienteFAQs] ([Id], [PreguntaFAQId], [UsuarioId], [Fecha]) VALUES (38, 16, N'ee075300-4f23-47d6-85bd-b33db42e7e92', CAST(N'2025-07-30T01:16:46.713' AS DateTime))
SET IDENTITY_INSERT [dbo].[ConsultaRecienteFAQs] OFF
GO
SET IDENTITY_INSERT [dbo].[Departamentoes] ON 

INSERT [dbo].[Departamentoes] ([Id], [Nombre]) VALUES (1, N'TI')
SET IDENTITY_INSERT [dbo].[Departamentoes] OFF
GO
SET IDENTITY_INSERT [dbo].[EmailDestinatarios] ON 

INSERT [dbo].[EmailDestinatarios] ([Id], [Nombre], [Correo], [Activo], [FechaCreacion]) VALUES (5, N'Prueba2', N'bryanhj2009@hotmail.com', 1, CAST(N'2025-07-26T00:00:00.000' AS DateTime))
INSERT [dbo].[EmailDestinatarios] ([Id], [Nombre], [Correo], [Activo], [FechaCreacion]) VALUES (7, N'Prueba3', N'benriquez60426@ufide.ac.cr', 1, CAST(N'2025-02-26T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[EmailDestinatarios] OFF
GO
SET IDENTITY_INSERT [dbo].[EmailServerConfigs] ON 

INSERT [dbo].[EmailServerConfigs] ([Id], [Host], [Puerto], [HabilitarSSL], [Usuario], [Contrasena], [FromName], [FromEmail], [FechaCreacion], [Provider], [ApiKey]) VALUES (1, N'smtp-mail.outlook.com', 587, 1, N'reportesservicecenterph@hotmail.com', N'bhyeksdmgbwyutrd', N'ServiceCenter', N'reportesservicecenterph@hotmail.com', CAST(N'2025-08-14T03:37:09.057' AS DateTime), N'SendGrid', N'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')
SET IDENTITY_INSERT [dbo].[EmailServerConfigs] OFF
GO
SET IDENTITY_INSERT [dbo].[GuiaInteraccions] ON 

INSERT [dbo].[GuiaInteraccions] ([Id], [GuiaId], [UserId], [EsUtil], [FechaInteraccion], [ArticuloId], [Tipo]) VALUES (2, NULL, N'6e443d02-015c-4f26-b64f-9808afdacb99', 1, CAST(N'2025-07-22T23:17:53.027' AS DateTime), 4, N'Articulo')
INSERT [dbo].[GuiaInteraccions] ([Id], [GuiaId], [UserId], [EsUtil], [FechaInteraccion], [ArticuloId], [Tipo]) VALUES (5, NULL, N'ee075300-4f23-47d6-85bd-b33db42e7e92', 0, CAST(N'2025-07-24T20:52:14.527' AS DateTime), 4, N'Articulo')
INSERT [dbo].[GuiaInteraccions] ([Id], [GuiaId], [UserId], [EsUtil], [FechaInteraccion], [ArticuloId], [Tipo]) VALUES (14, NULL, N'6e443d02-015c-4f26-b64f-9808afdacb99', 1, CAST(N'2025-07-29T20:34:22.523' AS DateTime), 8, N'Articulo')
SET IDENTITY_INSERT [dbo].[GuiaInteraccions] OFF
GO
SET IDENTITY_INSERT [dbo].[InteraccionFAQs] ON 

INSERT [dbo].[InteraccionFAQs] ([Id], [PreguntaId], [EsUtil], [Fecha], [UserId]) VALUES (5, 1, 1, CAST(N'2025-07-29T21:41:44.930' AS DateTime), N'6e443d02-015c-4f26-b64f-9808afdacb99')
INSERT [dbo].[InteraccionFAQs] ([Id], [PreguntaId], [EsUtil], [Fecha], [UserId]) VALUES (6, 2, 0, CAST(N'2025-07-29T21:41:48.660' AS DateTime), N'6e443d02-015c-4f26-b64f-9808afdacb99')
INSERT [dbo].[InteraccionFAQs] ([Id], [PreguntaId], [EsUtil], [Fecha], [UserId]) VALUES (7, 5, 1, CAST(N'2025-07-29T21:42:23.287' AS DateTime), N'6e443d02-015c-4f26-b64f-9808afdacb99')
SET IDENTITY_INSERT [dbo].[InteraccionFAQs] OFF
GO
SET IDENTITY_INSERT [dbo].[ManageIPChatBots] ON 

INSERT [dbo].[ManageIPChatBots] ([Id], [Ip], [Puerto], [CreadoPor], [FechaCreacion]) VALUES (1, N'54.80.9.80', 5000, N'Bryan Enriquez Jimenez', CAST(N'2025-08-04T20:43:01.993' AS DateTime))
SET IDENTITY_INSERT [dbo].[ManageIPChatBots] OFF
GO
SET IDENTITY_INSERT [dbo].[PreguntaFAQs] ON 

INSERT [dbo].[PreguntaFAQs] ([Id], [Titulo], [Respuesta], [CategoriaFAQId], [FechaCreacion], [VecesConsultada]) VALUES (1, N'¿Cuáles son los métodos de pago aceptados?', N'Aceptamos tarjetas de crédito y débito (Visa, Mastercard, American Express), así como pagos en efectivo al momento de la entrega. Algunas ubicaciones también permiten pagos con billeteras digitales.', 1, CAST(N'2025-06-15T18:27:25.637' AS DateTime), 0)
INSERT [dbo].[PreguntaFAQs] ([Id], [Titulo], [Respuesta], [CategoriaFAQId], [FechaCreacion], [VecesConsultada]) VALUES (2, N'¿Puedo modificar los ingredientes de una pizza al hacer un pedido?', N'Sí, puedes personalizar los ingredientes a tu gusto. Algunas promociones no permiten cambios, pero normalmente se puede modificar mediante nuestro sistema en línea o solicitándolo al cajero.', 1, CAST(N'2025-06-15T18:27:25.637' AS DateTime), 0)
INSERT [dbo].[PreguntaFAQs] ([Id], [Titulo], [Respuesta], [CategoriaFAQId], [FechaCreacion], [VecesConsultada]) VALUES (3, N'¿Cuáles son los métodos de pago aceptados?', N'Aceptamos tarjetas de crédito y débito (Visa, Mastercard, American Express), así como pagos en efectivo al momento de la entrega. Algunas ubicaciones también permiten pagos con billeteras digitales.', 1, CAST(N'2025-06-17T18:02:26.693' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[PreguntaFAQs] OFF
GO
SET IDENTITY_INSERT [dbo].[ReporteErrorGuias] ON 

INSERT [dbo].[ReporteErrorGuias] ([Id], [GuiaId], [Descripcion], [FechaReporte], [UsuarioNombre], [UsuarioEmail]) VALUES (38, 5, N'F', CAST(N'2025-07-26T21:59:40.617' AS DateTime), N'bryanej10', N'bryanhj2009@gmail.com')
INSERT [dbo].[ReporteErrorGuias] ([Id], [GuiaId], [Descripcion], [FechaReporte], [UsuarioNombre], [UsuarioEmail]) VALUES (39, 5, N'n', CAST(N'2025-07-26T22:04:46.753' AS DateTime), N'bryanej10', N'bryanhj2009@gmail.com')
INSERT [dbo].[ReporteErrorGuias] ([Id], [GuiaId], [Descripcion], [FechaReporte], [UsuarioNombre], [UsuarioEmail]) VALUES (40, 5, N'n', CAST(N'2025-07-26T22:05:39.450' AS DateTime), N'bryanej10', N'bryanhj2009@gmail.com')
SET IDENTITY_INSERT [dbo].[ReporteErrorGuias] OFF
GO
SET IDENTITY_INSERT [dbo].[SugerenciaPreguntasFAQs] ON 

INSERT [dbo].[SugerenciaPreguntasFAQs] ([Id], [Pregunta], [Respuesta], [UsuarioId], [FechaSugerencia], [Estado], [UsuarioRevisorId], [FechaRevision], [Motivo], [CategoriaFAQId]) VALUES (1, N'Prueba?', N'Respuesta Correcta', N'ee075300-4f23-47d6-85bd-b33db42e7e92', CAST(N'2025-07-08T20:43:35.093' AS DateTime), 1, N'ee075300-4f23-47d6-85bd-b33db42e7e92', CAST(N'2025-07-08T20:44:25.147' AS DateTime), N'Cambio de respuesta', 1)
SET IDENTITY_INSERT [dbo].[SugerenciaPreguntasFAQs] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([Id], [Titulo], [Descripcion], [Estado], [Prioridad], [Categoria], [FechaCreacion], [UsuarioCreadorId], [TecnicoAsignadoId], [DepartamentoId], [Solucion], [NumTicket], [Calificado]) VALUES (37, N'casa', N'ui', N'Cerrado_por_Usuario', N'Baja', N'Hardware', CAST(N'2025-07-05T09:49:41.650' AS DateTime), N'ee075300-4f23-47d6-85bd-b33db42e7e92', NULL, 1, NULL, N'INCPH_12857516', 0)
INSERT [dbo].[Tickets] ([Id], [Titulo], [Descripcion], [Estado], [Prioridad], [Categoria], [FechaCreacion], [UsuarioCreadorId], [TecnicoAsignadoId], [DepartamentoId], [Solucion], [NumTicket], [Calificado]) VALUES (38, N'casa', N'ghjmk', N'Proceso', N'Alta', N'Hardware', CAST(N'2025-07-05T23:49:04.853' AS DateTime), N'ee075300-4f23-47d6-85bd-b33db42e7e92', N'ee075300-4f23-47d6-85bd-b33db42e7e92', 1, NULL, N'INCPH_78950973', 0)
INSERT [dbo].[Tickets] ([Id], [Titulo], [Descripcion], [Estado], [Prioridad], [Categoria], [FechaCreacion], [UsuarioCreadorId], [TecnicoAsignadoId], [DepartamentoId], [Solucion], [NumTicket], [Calificado]) VALUES (39, N'Problema de PC', N'd', N'Asignado', N'Media', N'Hardware', CAST(N'2025-07-06T17:11:53.277' AS DateTime), N'6e443d02-015c-4f26-b64f-9808afdacb99', N'ee075300-4f23-47d6-85bd-b33db42e7e92', 1, NULL, N'INCPH_61094564', 0)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SubidoPorId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_SubidoPorId] ON [dbo].[Adjuntoes]
(
	[SubidoPorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TicketId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_TicketId] ON [dbo].[Adjuntoes]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ApiUsers__536C85E4A8423E22]    Script Date: 18/8/2025 08:47:30 p. m. ******/
ALTER TABLE [dbo].[ApiUsers] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TicketId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_TicketId] ON [dbo].[Comentarios]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UsuarioId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioId] ON [dbo].[Comentarios]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PreguntaFAQId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_PreguntaFAQId] ON [dbo].[ConsultaRecienteFAQs]
(
	[PreguntaFAQId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UsuarioId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioId] ON [dbo].[ConsultaRecienteFAQs]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Correo]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Correo] ON [dbo].[EmailDestinatarios]
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TicketId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_TicketId] ON [dbo].[Evidencias]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ArticuloId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_ArticuloId] ON [dbo].[GuiaInteraccions]
(
	[ArticuloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GuiaId_UserId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_GuiaId_UserId] ON [dbo].[GuiaInteraccions]
(
	[GuiaId] ASC,
	[UserId] ASC
)
WHERE ([GuiaId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoriaId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_CategoriaId] ON [dbo].[Guias]
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AsignadoAId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AsignadoAId] ON [dbo].[HistorialAsignacions]
(
	[AsignadoAId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AsignadoPorId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AsignadoPorId] ON [dbo].[HistorialAsignacions]
(
	[AsignadoPorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TicketId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_TicketId] ON [dbo].[HistorialAsignacions]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PreguntaId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_PreguntaId] ON [dbo].[InteraccionFAQs]
(
	[PreguntaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[InteraccionFAQs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoriaFAQId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_CategoriaFAQId] ON [dbo].[PreguntaFAQs]
(
	[CategoriaFAQId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoriaFAQId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_CategoriaFAQId] ON [dbo].[SugerenciaPreguntasFAQs]
(
	[CategoriaFAQId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartamentoId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_DepartamentoId] ON [dbo].[Tickets]
(
	[DepartamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TecnicoAsignadoId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_TecnicoAsignadoId] ON [dbo].[Tickets]
(
	[TecnicoAsignadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UsuarioCreadorId]    Script Date: 18/8/2025 08:47:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioCreadorId] ON [dbo].[Tickets]
(
	[UsuarioCreadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApiUsers] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Guias] ADD  DEFAULT ((0)) FOR [CategoriaId]
GO
ALTER TABLE [dbo].[Guias] ADD  DEFAULT ((0)) FOR [Version]
GO
ALTER TABLE [dbo].[ManageIPChatBots] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[ReporteErrorGuias] ADD  DEFAULT ('') FOR [UsuarioNombre]
GO
ALTER TABLE [dbo].[ReporteErrorGuias] ADD  DEFAULT ('') FOR [UsuarioEmail]
GO
ALTER TABLE [dbo].[SugerenciaPreguntasFAQs] ADD  DEFAULT ((0)) FOR [CategoriaFAQId]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ((0)) FOR [Calificado]
GO
ALTER TABLE [dbo].[Adjuntoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Adjuntoes_dbo.AspNetUsers_SubidoPorId] FOREIGN KEY([SubidoPorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Adjuntoes] CHECK CONSTRAINT [FK_dbo.Adjuntoes_dbo.AspNetUsers_SubidoPorId]
GO
ALTER TABLE [dbo].[Adjuntoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Adjuntoes_dbo.Tickets_TicketId] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adjuntoes] CHECK CONSTRAINT [FK_dbo.Adjuntoes_dbo.Tickets_TicketId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comentarios_dbo.AspNetUsers_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_dbo.Comentarios_dbo.AspNetUsers_UsuarioId]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comentarios_dbo.Tickets_TicketId] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_dbo.Comentarios_dbo.Tickets_TicketId]
GO
ALTER TABLE [dbo].[ConsultaRecienteFAQs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ConsultaRecienteFAQs_dbo.AspNetUsers_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConsultaRecienteFAQs] CHECK CONSTRAINT [FK_dbo.ConsultaRecienteFAQs_dbo.AspNetUsers_UsuarioId]
GO
ALTER TABLE [dbo].[ConsultaRecienteFAQs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ConsultaRecienteFAQs_dbo.PreguntaFAQs_PreguntaFAQId] FOREIGN KEY([PreguntaFAQId])
REFERENCES [dbo].[PreguntaFAQs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConsultaRecienteFAQs] CHECK CONSTRAINT [FK_dbo.ConsultaRecienteFAQs_dbo.PreguntaFAQs_PreguntaFAQId]
GO
ALTER TABLE [dbo].[Evidencias]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Evidencias_dbo.Tickets_TicketId] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Evidencias] CHECK CONSTRAINT [FK_dbo.Evidencias_dbo.Tickets_TicketId]
GO
ALTER TABLE [dbo].[GuiaInteraccions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GuiaInteraccions_dbo.Biblioteca_Items_New_ArticuloId] FOREIGN KEY([ArticuloId])
REFERENCES [dbo].[Biblioteca_Items_New] ([Id])
GO
ALTER TABLE [dbo].[GuiaInteraccions] CHECK CONSTRAINT [FK_dbo.GuiaInteraccions_dbo.Biblioteca_Items_New_ArticuloId]
GO
ALTER TABLE [dbo].[GuiaInteraccions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GuiaInteraccions_dbo.Guias_GuiaId] FOREIGN KEY([GuiaId])
REFERENCES [dbo].[Guias] ([Id])
GO
ALTER TABLE [dbo].[GuiaInteraccions] CHECK CONSTRAINT [FK_dbo.GuiaInteraccions_dbo.Guias_GuiaId]
GO
ALTER TABLE [dbo].[Guias]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Guias_dbo.Categorias_CategoriaId] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Guias] CHECK CONSTRAINT [FK_dbo.Guias_dbo.Categorias_CategoriaId]
GO
ALTER TABLE [dbo].[HistorialAsignacions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistorialAsignacions_dbo.AspNetUsers_AsignadoAId] FOREIGN KEY([AsignadoAId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[HistorialAsignacions] CHECK CONSTRAINT [FK_dbo.HistorialAsignacions_dbo.AspNetUsers_AsignadoAId]
GO
ALTER TABLE [dbo].[HistorialAsignacions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistorialAsignacions_dbo.AspNetUsers_AsignadoPorId] FOREIGN KEY([AsignadoPorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[HistorialAsignacions] CHECK CONSTRAINT [FK_dbo.HistorialAsignacions_dbo.AspNetUsers_AsignadoPorId]
GO
ALTER TABLE [dbo].[HistorialAsignacions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistorialAsignacions_dbo.Tickets_TicketId] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistorialAsignacions] CHECK CONSTRAINT [FK_dbo.HistorialAsignacions_dbo.Tickets_TicketId]
GO
ALTER TABLE [dbo].[InteraccionFAQs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InteraccionFAQs_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InteraccionFAQs] CHECK CONSTRAINT [FK_dbo.InteraccionFAQs_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[InteraccionFAQs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InteraccionFAQs_dbo.PreguntaFAQs_PreguntaId] FOREIGN KEY([PreguntaId])
REFERENCES [dbo].[PreguntaFAQs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InteraccionFAQs] CHECK CONSTRAINT [FK_dbo.InteraccionFAQs_dbo.PreguntaFAQs_PreguntaId]
GO
ALTER TABLE [dbo].[PreguntaFAQs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PreguntaFAQs_dbo.CategoriaFAQs_CategoriaFAQId] FOREIGN KEY([CategoriaFAQId])
REFERENCES [dbo].[CategoriaFAQs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreguntaFAQs] CHECK CONSTRAINT [FK_dbo.PreguntaFAQs_dbo.CategoriaFAQs_CategoriaFAQId]
GO
ALTER TABLE [dbo].[SugerenciaPreguntasFAQs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SugerenciaPreguntasFAQs_dbo.CategoriaFAQs_CategoriaFAQId] FOREIGN KEY([CategoriaFAQId])
REFERENCES [dbo].[CategoriaFAQs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SugerenciaPreguntasFAQs] CHECK CONSTRAINT [FK_dbo.SugerenciaPreguntasFAQs_dbo.CategoriaFAQs_CategoriaFAQId]
GO
/****** Object:  StoredProcedure [dbo].[CrearTicketBasico]    Script Date: 18/8/2025 08:47:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearTicketBasico]
	@Nombre NVARCHAR(150),
    @Titulo NVARCHAR(150),
    @Descripcion NVARCHAR(MAX),
    @Categoria NVARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Fecha DATETIME = GETDATE();

    -- 1. Insertar el ticket
    INSERT INTO Tickets (
        Titulo,
        Descripcion,
        Categoria,
        Estado,
        Prioridad,
        FechaCreacion,
        UsuarioCreadorId,
        DepartamentoId
    )
    VALUES (
        @Titulo,
        @Descripcion,
        @Categoria,
        'Abierto',
        'Baja',
        @Fecha,
        @Nombre,
        1
    );

    -- 2. Recuperar el NumTicket exacto usando fecha y contenido
    SELECT TOP 1 NumTicket
    FROM Tickets
    WHERE
        Titulo = @Titulo AND
        Descripcion = @Descripcion AND
        Categoria = @Categoria AND
        FechaCreacion = @Fecha
    ORDER BY Id DESC;
END;
GO
USE [master]
GO
