@{
    ViewBag.Title = "Administrar Biblioteca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-white">Agregar Nuevo Artículo</h2>

<form method="post" action="@Url.Action("Guardar", "Biblioteca")">
    <div class="form-group">
        <label class="text-white">Nombre del Proceso</label>
        <input type="text" name="Titulo" class="form-control" required />
    </div>

    <div class="form-group">
        <label class="text-white">Descripción</label>
        <textarea name="Descripcion" class="form-control" required></textarea>
    </div>

    <div class="form-group">
        <label class="text-white">Temática</label>
        <input type="text" name="Tematica" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-danger mt-2">Guardar</button>
</form>

<a href="@Url.Action("Index", "Biblioteca")" class="btn btn-secondary mt-3">Volver</a>
