@{
    ViewBag.Title = "Contraseña restablecida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="alert alert-success mt-4">
    Tu contraseña ha sido restablecida exitosamente.
</div>
<p>
    @Html.ActionLink("Iniciar sesión", "Login", "Account",
      null, new { @class = "btn btn-primary" })
</p>
